@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #d0d4d8; */
}

/* Dashboard  */
.sidebar {
    position: fixed;
    background-color: #555;
    width: 180px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.dash-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    margin-left: 2rem;
}

.dash-nav li {
    margin: 20px 0;
}

.sidebar .dash-nav li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.dash-nav .fa {
    color: #fff;
}

.main {
    margin-left: 200px;
}

.card-dash {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    padding: 8px;
}

.card-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    color: #207733;
    padding: 1rem;
}

/* Contact Menu */
.contactMessages {
    display: flex;
    justify-content: center;
}

.delete-button {
    background-color: red;
    color: white;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.delete-button:hover {
    background-color: rgb(175, 45, 45);
}

/* Blog */
.blog {
    margin-top: 2.5rem;
    width: 100%;
    padding: 5rem;
}

.blog-heading {
    text-align: center;
    color: #207733;
    text-transform: uppercase;
}

.blog-form {
    max-width: 600px;
    margin: auto;
    padding: 0 5px;
    overflow: hidden;
}

.blog-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #d9d9d9;
    padding: 20px 40px;
    outline: none;
    color: #000;
    transition: 0.5s;
    border-radius: 5px;
}

.blog-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.blog-form-text {
    resize: none;
    height: 120px;
}

.blog-form-btn {
    width: 100%;
    border: 0;
    background: #207733;
    color: #fff;
    padding: 12px 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1rem;
    font-weight: 600;
}

.blog-form-btn:hover {
    background: #051b0a;
}

.message {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.message .success {
    font-size: 20px;
    position: absolute;
    color: green;
    animation: buttons 0.3s linear;
    display: none;
}

.message .danger {
    font-size: 20px;
    position: absolute;
    color: red;
    animation: buttons 0.5s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/* Blog */
.blog {
    margin-top: 2.5rem;
    width: 100%;
    /* height: 35rem; */
    padding: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #eeecec;
    /* border: 1px solid black; */
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.blog-heading {
    text-align: center;
    color: #207733;
    text-transform: uppercase;
}

.blog-form {
    max-width: 600px;
    margin: auto;
    padding: 0 5px;
    overflow: hidden;
}

.blog-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #d9d9d9;
    padding: 20px 40px;
    outline: none;
    color: #000;
    transition: 0.5s;
    border-radius: 5px;
}

.blog-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.blog-form-text {
    resize: none;
    height: 120px;
}

.blog-form-btn {
    width: 100%;
    border: 0;
    background: #207733;
    color: #fff;
    padding: 12px 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1rem;
    font-weight: 600;
}

.blog-form-btn:hover {
    background: #051b0a;
}

.message {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

/* Blog list  */
.blog-list {
    width: 100%;
    /* height: 37rem; */
    padding: 5rem;
}

.blog-card {
    background-color: #f1f2f5;
    box-shadow: 0 0 8px 4px #34495e;
    width: 250px;
    padding: 20px 20px 20px;
    word-wrap: break-word;
}

.hide {
    display: none;
}

.blog-list-heading {
    font-size: 2rem;
    text-align: center;
    color: #207733;
    text-transform: uppercase;
    padding: 1rem;
}

.blog-list-title {
    display: block;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

.blog-description {
    word-wrap: break-word;
}

#blogSubmit {
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: green;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.btnContainer {
    display: flex;
    /* flex-direction: row; */
    gap: 3rem;
    justify-content: space-between;
    padding: 1rem;
}

.deleteBtn {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

.deleteBtn:hover {
    background-color: rgb(153, 1, 1);
}

.updateBtn {
    background-color: green;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

.updateBtn:hover {
    background-color: rgb(0, 255, 0);
}

.likeBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.likeBtn:hover {
    color: red;
}